<div
    class="w-full h-full border-l-8 border-header border-opacity-30 select-none"
>
    <div class="h-full pl-2 border-l-8 border-header">
        <div class="h-full pl-8 border-l-4 border-header">
            <div class="h-full bg-container flex flex-col">
                <hr class="h-1 mt-2 ml-4 mr-10 bg-header border-header" />
                <div class="h-full overflow-y-auto">
                    <div class="py-4">
                        <div *ngIf="this.tree !== undefined">
                            <app-node
                                [node]="node"
                                *ngFor="let node of tree.flat"
                            ></app-node>
                        </div>
                    </div>
                </div>
                <hr class="h-1 mb-2 ml-4 mr-10 bg-header border-header" />
            </div>
        </div>
    </div>
</div>
