<div class="h-full border-l-8 border-header border-opacity-30 select-none">
    <div class="h-full pl-2 border-l-8 border-header">
        <div class="h-full pl-6 border-l-4 border-header">
            <hr class="h-2 pt-2 bg-header" />
            <div class="h-full bg-container overflow-y-auto">
                <div class="py-4">
                    <div *ngIf="this.tree !== undefined">
                        <app-node
                            [node]="node"
                            *ngFor="let node of tree.flat"
                        ></app-node>
                    </div>
                </div>
            </div>
            <hr class="h-2 pb-2 bg-header" />
        </div>
    </div>
</div>
