<!-- Title -->
<div class="container mx-auto">
    <div class="w-full py-10 text-selection text-3xl">
        <span
            class="uppercase"
            style="text-shadow: 5px 5px 4px var(--color-high-trans)"
        >
            Menu
        </span>
    </div>
</div>

<!-- Content -->
<div class="container mx-auto py-4">
    <div class="flex flex-row gap-x-2">
        <app-tree
            class="flex-none max-w-max"
            [tree]="tree"
            style="height: 36rem; max-height: 36rem"
        ></app-tree>

        <content-image-text
            class="flex-grow pl-10"
            *ngIf="current !== -1"
            [title]="flattened[current].name"
            content="'something goes here'"
        ></content-image-text>
    </div>
</div>
