<!-- Title -->
<div class="container mx-auto">
    <div class="w-full py-10 text-high text-3xl">
        <span
            class="uppercase"
            style="text-shadow: 5px 5px 4px var(--color-high-trans)"
        >
            Menu
        </span>
    </div>
</div>

<!-- Content -->
<div class="container mx-auto py-4">
    <div class="flex flex-row">
        <div
            class="w-1/3 pl-8 border-l-4 border-mid border-opacity-30 select-none"
        >
            <app-node #nodes [node]="node" *ngFor="let node of nodes"> </app-node>
        </div>

        <div class="w-2/3 pl-10 h-10" id="content"></div>
    </div>
</div>
