<div class="w-full h-full flex flex-col">
    <div class="flex-initial w-full p-2 bg-header">
        <div class="flex items-stretch max-h-6 gap-x-2">
            <div class="w-6 h-6 text-center bg-selection"></div>
            <div class="flex-1 text-lg text-selection">
                {{ title }}
            </div>
        </div>
    </div>
    <div class="flex-1 bg-container overflow-auto">
        <p class="p-4 text-justify text-selection">
            {{ content }}
        </p>
    </div>
</div>
