<div class="w-full h-full">
    <div #header class="w-full p-2 bg-header">
        <div class="flex items-stretch max-h-6 gap-x-2">
            <div class="w-6 h-6 text-center bg-selection"></div>
            <div class="flex-1 text-lg text-selection">
                {{ title }}
            </div>
        </div>
    </div>
    <div #container class="bg-container h-full max-h-full">
        <p class="p-4 text-justify text-selection">
            {{ content }}
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. A ex
            adipisci maiores temporibus consectetur esse dignissimos nobis odio
            qui. Iste fugiat fuga repellat, nisi deserunt eaque accusantium id
            voluptatum quaerat itaque labore eligendi quia odio perspiciatis
            omnis! Officiis repellat nostrum provident totam iure vero. Natus
            illo aperiam quo reiciendis itaque iusto vitae at nihil enim,
            nesciunt neque commodi sit autem vero. Rem aperiam sint fugit
            aspernatur nemo cupiditate praesentium distinctio nulla ullam
            molestiae, fugiat consectetur enim dolorum ducimus necessitatibus
            doloremque illum beatae ratione illo totam autem? Aperiam aliquam
            repellat neque iusto eius mollitia non, voluptatem molestias, sint
            corporis suscipit dolores!
        </p>
    </div>
</div>
