/* You can add global styles to this file, and also import other style files */
html,
body {
    margin: 0;
    padding: 0;

    height: 100%;
    font-family: NieR;
}

:root {
    /**
     *  bone
     */
    --color-container: #d6d0b8ff;
    /**
     *  sage
     */
    --color-page: #c6c3a9ff;
    /**
     * khaki-web
     */
    --color-header: #b0ab97ff;
    /**
     * black-olive
     */
    --color-selection: #454239ff;
    /**
     * medium-carmine
     */
    --color-alert: #b3543eff;
    font-family: "NieR";
}

*:focus {
    outline: none;
}
