/* You can add global styles to this file, and also import other style files */
html,
body {
    margin: 0;
    padding: 0;

    height: 100%;
    font-family: NieR;
}

:root {
    --color-high: rgb(87, 84, 74);
    --color-low: rgb(218, 212, 187);
    --color-mid: rgb(151, 147, 129);
    --color-alert: rgb(205, 102, 77);
    --color-high-trans: rgba(87, 84, 74, 0.6);
    --color-low-trans: rgba(218, 212, 187, 0.8);
    --color-alert-trans: rgba(205, 102, 77, 0.7);

    font-family: "NieR";
}
