<div class="w-full" style="height: 36rem; max-height: 36rem">
    <div #header class="w-full bg-header p-2">
        <div class="flex items-stretch max-h-6 gap-x-2">
            <div
                class="w-6 h-6 bg-selection group-hover:bg-container group-focus:bg-container text-center"
            ></div>
            <div class="flex-1 text-lg text-selection">
                {{ title }}
            </div>
        </div>
    </div>
    <div #container class="bg-container flex max-h-full">
        <div class="flex-1 w-1/2 m-4 bg-selection">
            <!-- <img
                src="assets/icons/selection-square-128x128.jpg"
                alt="background"
                class="w-full h-full object-cover"
            /> -->
        </div>
        <p class="flex-1 p-4 text-justify text-selection">
            {{ content }}
        </p>
    </div>
</div>
